<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_erronka_root" name="Langileak" sequence="10"/>
    <menuitem id="menu_erronka_langileak_root" name="Langileak" parent="menu_erronka_root" sequence="10"/>

    <menuitem id="menu_erronka_langileak" name="Trabajadores" parent="menu_erronka_langileak_root" action="action_erronka_langile" sequence="10"/>
    <menuitem id="menu_erronka_lanpostuak" name="Puestos" parent="menu_erronka_langileak_root" action="action_erronka_lanpostu" sequence="20"/>
</odoo>
